﻿@model Blog.Areas.Admin.ViewModels.EditUser

@{
    ViewBag.Title = "Edit";
}

<h2>Edit User - @Model.UserName</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(u => u.UserName)
        @Html.TextBoxFor(u => u.UserName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.EmailId)
        @Html.TextBoxFor(u => u.EmailId, new { @class = "form-control", type = "email" })
    </div>
    <input type="submit" name="Submit" value="Update User" class="btn btn-primary" />
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
}

