﻿@model Blog.Areas.Admin.ViewModels.UsersIndex
<h1>Users</h1>
<style>
    .btn-group > a {
        margin:3px;
    }
</style>
<div class="btn-toolbar">
    <button class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("New")'"><i class="fa fa-plus"></i> Create User</button>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>UserName</th>
        <th>Email Id</th>
        <th>Roles</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.EmailId</td>
            <td>todo</td>
            <td>
                <div class="btn-group">
                    <a href="@Url.Action("edit",new {id = user.Id})" class="badge badge-primary"><i class="fa fa-edit"></i> Edit</a>
                    <a href="@Url.Action("ResetPassword",new {user.Id})" class="badge badge-secondary"><i class="fa fa-lock"></i> Reset Password</a>
                    <a href="@Url.Action("Delete",new {user.Id})" data-post="Are you sure you want to delete user @user.UserName?" class="badge badge-danger"><i class="fa fa-remove"></i> Delete</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>