﻿@model Blog.Areas.Admin.ViewModels.NewUser

@{
    ViewBag.Title = "Create User";
}
<h1>New User</h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(u => u.UserName)
        @Html.TextBoxFor(u => u.UserName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.EmailId)
        @Html.TextBoxFor(u => u.EmailId, new { @class = "form-control", type = "email" })
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.Password)
        @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Roles
        </div>
        <div class="panel-body">
            <ul class="list-group">
                @for (int i = 0; i < Model.Roles.Count(); i++)
                {
                    <li class="list-group-item">
                        @Html.Hidden("Roles["+i+"].Id",Model.Roles[i].Id)
                        <label for="Roles_@(i)_IsChecked">
                            @Html.CheckBox("Roles[" + i + "].IsChecked",Model.Roles[i].IsChecked)
                            @Model.Roles[i].Name.ToUpper()
                        </label>
                    </li>
                }
            </ul>
        </div>
    </div>
    <input type="submit" name="Submit" value="Create User" class="btn btn-primary" />
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
}


