﻿@model Blog.Areas.Admin.ViewModels.UserResetPassword

@{
    ViewBag.Title = "ResetPassword";
}

<h2>Reset Password - @Model.UserName</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <div class="form-group">
        @Html.LabelFor(u => u.Password)
        @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
    </div>
    <input type="submit" name="Submit" value="Reset Password" class="btn btn-primary" />
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
}

