﻿.field-validation-error {
    color:red;
}

.field-validation-valid {
    display:none;
}

.input-validatiion-error {
    border:1px solid red;
    background:#ffeeee;

}

.validation-summary-errors {
    color:red;
}