﻿@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Blog</title>
    @Styles.Render("~/Styles");
</head>
<body>
    <header>
        <h1>
            <a href="@Url.RouteUrl("Home")">Blog</a>
            <i class="fa fa-bell"></i>
        </h1>
        @if (User.Identity.IsAuthenticated)
        {
            <p>Welcome Back, @User.Identity.Name</p>
            <a href="@Url.RouteUrl("logout")">Logout</a>
            if (User.IsInRole("admin"))
            {
                <a href="@Url.Action("Index","Posts",new {area = "Admin"})">View Posts in Admin</a>

            }
        }
        else
        {
            <a href="@Url.RouteUrl("login")">Login</a>
        }

        
    </header>
<div>
    @RenderBody()
</div>
    
    @Scripts.Render("~/Scripts");
<footer>
    @DateTime.Now.Year - Blogs
</footer>
</body>
</html>
