﻿@model Blog.ViewModels.AuthLogin
@{
    ViewBag.Title = "Login";
}    
<h1>This is the login view</h1>
@Html.ValidationSummary()
<form method="post">
    <div>
        @Html.LabelFor(m=>m.Username)
        @Html.TextBoxFor(m => m.Username)
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
    </div>
    
    <input type="submit" name="Submit" value="Submit"/>
</form>