﻿@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin | Blog</title>
    @Styles.Render("~/Admin/Styles")
</head>
<body>
    <div class="container ">
        <ul class="nav nav-pills justify-content-between">
            <div class="row">
                <li class="nav-item">
                    <a class="nav-link @(ViewBag.ActiveTab == "Posts" ? "active" : "")" href="@Url.Action("Index","Posts",new {area = "Admin"})">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(ViewBag.ActiveTab == "User" ? "active" : "")" href="@Url.Action("Index","User",new {area = "Admin"})">Users</a>
                </li>

            </div>
            

            <li class="nav-item">
                <a class="nav-link" href="@Url.RouteUrl("Home")">Back to Website</a>
            </li>
        </ul>
    </div>

<div class="container">
    @RenderBody()
</div>

    @Scripts.Render("~/Admin/Scripts")

</body>
</html>
